<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="row">
        <div class="col-ms-1">
            <img class="img-fluid" src="../img/undraw_Hiking_re_k0bc.svg" alt="Logo">
        </div>
        <div class="col-lg-2 my-4">
            <h1 class="judul">Koperasi</h1>
        </div>
        
    </div>
   
</body>
</html>